// Global Styles

/* Reset + base: */
* { margin: 0; padding: 0; border: 0; outline: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-text-size-adjust: 100%; }

html { overflow-y: scroll; } /* always show scrollbar in non-IE */
body, input, select, textarea, button { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: "open-sans",sans-serif; }

body { font-size: 14px; color: #969DA3; line-height: 26px; background: #EFF2F5; padding-top: 60px; }

// Type
h1, h2, h3, h4, h5 { color: #4B5055; }

p, ul { margin-top: 20px; }
li { list-style-position: inside; }

// Grid Section Styles
main { margin-top: 60px; }

main [class*='col'] { background-color: #71BEC3; color: #fff; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; text-align: center; border-radius: 3px; }

section { margin-bottom: 60px; }
